/* Variables */
* {
  scroll-behavior: smooth;

  --circle-size: min(40vw, 18rem);
  --arrow-size: min(44vw, 20rem);
  --outer-circle-size: min(45vw, 21rem);
  --circle-round: min(3vw, 1vh);
  --text-padding-width: max(min(14rem, 2vw), 1rem);
  --text-padding-height: max(min(10rem, 10vh), 1rem);
}

/* Minimum full height website */
html {
  height: 100%;
}

html,
body,
h1,
h2,
h3 {
  margin: 0;

  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

h1 {
  padding: 2rem;

  font-size: min(10vw, 3rem);
  line-height: 1;
  font-weight: 700;
}

#circle_cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  gap: 0.5rem;

  height: 100%;
  min-height: calc(var(--outer-circle-size) * 2);

  padding: 1rem;
}

.common_cont {
  position: relative;

  display: flex;
}

.circle_item {
  height: var(--circle-size);
  width: var(--circle-size);
  display: block;

  background: #00000050;

  position: absolute;
  z-index: 10;

  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

#circle_item_a,
#circle_item_a > .arrow {
  right: 0;
  bottom: 0;
  border-radius: var(--circle-size) var(--circle-round) var(--circle-round)
    var(--circle-round);
  background-color: #fbbf24;
}
#circle_item_a > .arrow {
  transform: rotate(-90deg);
}

#circle_item_b,
#circle_item_b > .arrow {
  left: 0;
  bottom: 0;
  border-radius: var(--circle-round) var(--circle-size) var(--circle-round)
    var(--circle-round);
  background-color: #60a5fa;
}

#circle_item_c,
#circle_item_c > .arrow {
  right: 0;
  top: 0;
  border-radius: var(--circle-round) var(--circle-round) var(--circle-round)
    var(--circle-size);
  background-color: #fb7185;
}
#circle_item_c > .arrow {
  transform: rotate(180deg);
}

#circle_item_d,
#circle_item_d > .arrow {
  left: 0;
  top: 0;
  border-radius: var(--circle-round) var(--circle-round) var(--circle-size)
    var(--circle-round);
  background-color: #4ade80;
}
#circle_item_d > .arrow {
  transform: rotate(90deg);
}

.arrow {
  background-color: transparent !important;
  position: absolute;
  height: var(--arrow-size);
  width: var(--arrow-size);
  border-radius: 0 !important;
  pointer-events: none;
}

.text_cont {
  height: calc(var(--circle-size) * 0.7);
  max-width: calc(var(--circle-size) * 1.8);
  width: 100%;
  padding: 1.5rem 2.5rem;
  border-radius: var(--circle-round);
  text-align: left;
  font-weight: 700;
  font-size: 1.5rem;
}

.text_cont > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.text_cont > ul > li:before {
  content: "•";
  color: #000000;
  display: inline-block;
  width: 1em;
}

#common_cont_a {
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: calc(var(--circle-size) / 3);
  padding-right: calc(var(--circle-size) / 2);
}
#text_cont_a, #text_cont_a_mob {
  background-color: #fbbf2450;
}
#text_cont_a::before {
  content: "";
  float: right;
  width: 100%;
  height: 100%;
  shape-outside: circle(var(--outer-circle-size) at calc(100% + var(--outer-circle-size) / 1.9) calc(var(--outer-circle-size) - 0.5rem));
}

#common_cont_b {
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: calc(var(--circle-size) / 3);
  padding-left: calc(var(--circle-size) / 2);
}
#text_cont_b, #text_cont_b_mob {
  background-color: #60a5fa50;
}
#text_cont_b::before {
  content: "";
  float: left;
  width: 100%;
  height: 100%;
  shape-outside: circle(var(--outer-circle-size) at -11rem 20.5rem);
}

#common_cont_c {
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: calc(var(--circle-size) / 3);
  padding-right: calc(var(--circle-size) / 2);
}
#text_cont_c, #text_cont_c_mob {
  background-color: #fb718550;
}
#text_cont_c::before {
  content: "";
  float: right;
  width: 100%;
  height: 100%;
  shape-outside: circle(var(--outer-circle-size) at calc(100% + var(--outer-circle-size) / 1.9) -7rem);
}

#common_cont_d {
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: calc(var(--circle-size) / 3);
  padding-left: calc(var(--circle-size) / 2);
}
#text_cont_d, #text_cont_d_mob {
  background-color: #4ade8050;
}
#text_cont_d::before {
  content: "";
  float: left;
  height: 100%;
  width: 100%;
  shape-outside: circle(var(--outer-circle-size) at -11rem -7rem);
}

.circle_item > h3 {
  z-index: 20;
  color: #fff;
  font-size: min(6vw, 2rem);
  font-weight: 700;
  margin: 0;
}

#circle_item_a > h3 {
  padding: var(--text-padding-height) 0 0 var(--text-padding-width);
}
#circle_item_b > h3 {
  padding: var(--text-padding-height) var(--text-padding-width) 0 0;
}
#circle_item_c > h3 {
  padding: 0 0 var(--text-padding-height) var(--text-padding-width);
}
#circle_item_d > h3 {
  padding: 0 var(--text-padding-width) var(--text-padding-height) 0;
}



#mobile_cards {
  display: none;
  background-color: #fff;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 1100px) {
  .text_cont:not(.outside_circle) {
    display: none;
  }

  .text_cont.outside_circle {
    height: unset;
    font-size: 1.25rem;
    padding: 1rem 2rem;
  }

  #mobile_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
}

footer {
  padding-bottom: 1rem;
}